body {
	background-color: #E0E0E0;
	user-select:none !important;
	-moz-user-select:none !important;
}


header {
	text-align: center;
	font-size: 32px;
}
button {
	font-size: 24px;
	padding: 15px;
}

p {
	font-size: 18px;
	text-align:center;
}

h2{
	font: 2em/150% Arial, Helvetica, sans-serif;
	margin-bottom:2px;
}
