<h1>Todo list</h1>
<hr>
<form name="todoForm" novalidate ng-submit="addPuntuacion()">
  <div class="form-group"
      ng-class="{'has-error': todoForm.puntos.$invalid
        && todoForm.puntos.$dirty}">
    <input type="number" class="form-control focus" name="puntos"
        placeholder="Puntuacion" autocomplete="off" required
        ng-model="newPuntuacion.puntos">
    <span class="has-error control-label" ng-show="
        todoForm.puntos.$invalid && todoForm.puntos.$dirty">
      Content is required.
    </span>
  </div>
  <button class="btn btn-default" ng-disabled="todoForm.$invalid">Add</button>
</form>
<hr>
<div class="list-group">
  <a class="list-group-item" ng-repeat="todo in todos">{{todo.usuarioId}} - {{todo.puntos}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ng-click="removePuntuacion(todo)"></i></a>
</div>
